#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.matrix {
  display: grid;
  grid-template-columns: repeat(3, 5em);
  gap: 1.5em;
}

.matrix-item {
  font-size: 1em;
}

.reset {
  width: 100%;
  margin-top: 1.5em;
}
